/.venv/
/.idea
/sdl_audio_core/sdl_audio_core.egg-info/
/SDL2.dll
/sdl_audio_core/SDL2.dll
/sdl_audio_core/sdl_audio_core.egg-info/
/sdl_audio_core/sdl_audio_core.egg-info/PKG-INFO
# Build directories
build/
dist/
piano/
/piano/
*.egg-info/
sdl_audio_core/build/

# Compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.dll
*.lib
*.exp
*.obj
*.wav
*.npy

# Logs and temp
*.log
*.csv
TMP/

# Virtual environments
.env/
.venv/
venv/
ENV/

# OS junk
.DS_Store
Thumbs.db
user_config.json
piano_point_responses/point_57_response.txt
piano_point_responses/point_60_response.txt
piano_point_responses/point_65_response.txt
piano_point_responses/point_70_response.txt
piano_point_responses/point_74_response.txt
piano_point_responses/point_79_response.txt
piano_point_responses/point_80_response.txt
piano_point_responses/point_81_response.txt
piano_point_responses/point_82_response.txt
piano_point_responses/point_83_response.txt
piano_point_responses/point_84_response.txt
piano_point_responses/README.md
