/.venv/
/.idea
/sdl_audio_core/sdl_audio_core.egg-info/
/SDL2.dll
/sdl_audio_core/SDL2.dll
/sdl_audio_core/sdl_audio_core.egg-info/
/sdl_audio_core/sdl_audio_core.egg-info/PKG-INFO
# Build directories
build/
dist/
piano/
/piano/
*.egg-info/
sdl_audio_core/build/

# Compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.dll
*.lib
*.exp
*.obj
*.wav
*.npy

# Logs and temp
*.log
*.csv
TMP/

# Virtual environments
.env/
.venv/
venv/
ENV/

# OS junk
.DS_Store
Thumbs.db
user_config.json

# Piano point responses export
piano_point_responses/
piano_point_responses.zip
